.rtcamp_contributors_box{
	
	border:solid 1px black;
	padding: 10px;
	
}
.rtcamp_contributors img{
	margin-top:10px;
	 
}
.rtcamp_contributors a{
	color:slateblue;
	text-decoration: none!important;
    
}

.rtcamp_contributors a:hover{
	color:black;
	
}